### JetBrains template
*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:
*/test-output/

# IntelliJ
/out/

### Maven template
target/